{% extends 'core/navbar.html' %}

{% block title %}Profile{% endblock title %}

{% block content %}

    {% load custom_tags %}
    <div class="position-absolute top-50 start-50 translate-middle text-center w-100">

      <div class="mb-3">
        <button
          class='btn btn-lg
          {% if profile_user|is_group:"Teachers" %} btn-danger 
          {% elif profile_user|is_group:"Council Members" %} btn-warning 
          {% elif profile_user|is_group:"Students" %} btn-success 
          {% else %} btn-primary 
          {% endif %}
          rounded-pill'
          style="width: 7rem; height: 7rem;">

          <span class="fs-1">
          {{profile_user.first_name|make_list|first}}{{profile_user.last_name|make_list|first}}
          </span>
        </button>

        {% if profile_user|is_group:"Teachers" %} <p class="fs-3 text-secondary">Teacher</p> {% endif %}
      </div>

      <hr class="border border-1 border-secondary opacity-50">

      <div class="p-3 mt-2 fs-2">
        <p>Name: <b>{{profile_user.first_name}} {{profile_user.last_name}}</b></p>
        {% if not profile_user|is_group:"Teachers" %}
        <p>Class: <b>{{profile_user.grade}}</b></p>
        {% endif %}
        <p>Username: <b>{{profile_user.username}}</b></p>

        {% if user == profile_user %}
        <a class="btn btn-outline-danger me-2" href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'change_password'%}" class="btn btn-outline-dark">Change Password</a>
        {% endif %}
      </div>
      <a href="{{request.GET.previous}}" class="btn btn-primary mt-3">Go back</a>

      <hr class="border border-1 border-secondary opacity-50">

    </div>


{% endblock content %}