{% extends 'core/navbar.html' %}

{% block title %}Edit Post{% endblock title %}

{% block content %}


<div class="container">
    <h1 class="text-center">Edit Your Post</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{field.label_tag}}
            <br>
            {{field}}
        </div>
        {% endfor %}
        <input type="submit" value="DONE" class="btn btn-primary">
    </form>

{% endblock content %}