{% extends 'core/navbar.html' %}

{% block title %}
Home
{% endblock title %}

{% block content %} {% load custom_tags %}

<div class="container w-75" style="word-break: break-word">

  {% if user|is_group:"Teachers" %}
  <form action="{% url 'home' %}" method="get" class="mb-3 w-50 m-auto d-flex">
    <select name="class" class="form-select">
      <option selected>Select a class</option>
      {% for i in range %}
      <option value="{{i}}">Class {{i}}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Filter" class="btn btn-primary ms-2" />
  </form>

  {% endif %}

  {% if not posts %}
    <p class="fs-1 text-center text-secondary">No posts yet</p>
  {% endif %}
  
  {% for post in page_obj %}

  <div
    class="container p-5 mb-3 w-100 position-relative rounded-4 border border-secondary shadow bg-light">

    <p>
      {% if post.posted_by %}

        <a
        href="{% url 'profile' username=post.posted_by.username%}?previous={{request.get_full_path}}"
        title="View Profile"
        class="btn btn-sm {% if post.posted_by|is_group:'Teachers' %} btn-danger {% elif post.posted_by|is_group:'Council Members' %} btn-warning {% elif post.posted_by|is_group:'Students' %} btn-success {% else %} btn-primary {% endif %} rounded-pill p-2"
        style="width: 2.5rem; height: 2.5rem">

            {{post.posted_by.first_name|make_list|first}}{{post.posted_by.last_name|make_list|first}}
        </a>

      <b>{{post.posted_by.username}}</b>

      {% else %}

      <button
        class="btn btn-sm btn-secondary rounded-pill disabled"
        style="width: 2.5rem; height: 2.5rem">
        DU
      </button>
      Deleted User
      
      {% endif %}
    </p>

    <a href="/home/{{post.slug}}" class="text-decoration-none text-dark"><h2>{{post.title}}</h2></a>

    <p class="lead mt-3" style="white-space: pre-wrap;"><b>{{ post.description|truncatewords_html:50 }}</b></p>

    {% if post.attachment %}
    <a
      href="{{post.attachment.url}}"
      class="btn btn-primary p-2 mt-2"
      style="width: fit-content">
      Download attachment
    </a>
    {% endif %}

    {% if user == post.posted_by %}
    <div class="m-3 position-absolute bottom-0 end-0">
      <a href="/home/{{post.slug}}/delete" class="btn btn-md btn-dark" title="Delete"><i class="fa-solid fa-trash-can"></i></a>
      <a href="/home/{{post.slug}}/edit" class="btn btn-md btn-dark" title="Edit"><i class="fa-regular fa-pen-to-square"></i></i></a>
    </div>
    {% endif %}
  </div>


  {% endfor %}

  <nav aria-label="page navigation">
    <ul class="pagination pagination-lg justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a></li>
      {% endif %}

      {% if page_obj.has_next %}
        <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a></li>
      {% endif %}
    </ul>
  </nav>

</div>

{% endblock content %}