
{% extends "core/navbar.html" %}

{% block title %}New Post{% endblock title %}

{% block content %}

    <div class="container">
        <div class="d-flex justify-content-center">
            {% load static %}
            <img src="{%static 'colorkit.svg'%}" alt="LOGO" style="width: 3rem; height: 3rem;">
            <h1>Upload post</h1>
        </div>
        <div class="container">
            <form method="post" enctype="multipart/form-data">
                {% load custom_tags %}
                {% csrf_token %}
                <div class="form-group">{{form.title.label_tag}} <br> {{form.title}}</div>

                {% if user|is_group:"Teachers" %}
                    <div class="form-group"><label>This post is for class: </label> <br> {{form.for_grade}}</div>
                {% endif %}

                <div class="form-group">{{form.description.label_tag}} <br> {{form.description}}</div>
                <div class="form-group">{{form.attachment.label_tag}} <br> {{form.attachment}}</div>
                <input type="submit" value="Post" class='btn btn-success'>
                <a href="{% url 'home' %}" class="btn btn-danger">Cancel</a>
            </form>
        </div>
    </div>

{% endblock content %}