{% extends 'core/navbar.html' %}

{% block title %}Change Password{% endblock title %}

{% block content %}

    <div class="container">
        <h1>Change your password here</h1>
        <form method="post">

            {% csrf_token %}
            {%for field in form %}
                <div class="form-group {%if field.errors %}has-error{%endif%}">
                    {{field.label_tag}} <br> {{field}}
                    {% if field.errors %}
                        {{field.errors}}
                    {% endif %}
                </div>
            {% endfor %}
            
            <input type="submit" value="CHANGE" class="btn btn-primary">
            <a href="{% url 'home' %}" class="btn btn-danger">Cancel</a>
        </form>
    </div>

{% endblock content %}